{% extends "base.html" %}


{% block extra_header %}
{% endblock %}

{% block page_body %}
  {% block topbar %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">似水流年</a>
          <script type="text/javascript">
            var dispatch = function() {
              q = document.getElementById("q");
              if (q.value != "") {
                window.open('http://www.google.com/search?q=site:jstwind.com/t%20' + q.value, "_blank");
                return false;
              } else {
                return false;
              }
            }
          </script>
          <form action="" onsubmit="return dispatch()" class="navbar-search pull-left">
            <input name="q" id="q" type="text" placeholder="Search" style="width: 160px">
          </form>
          <ul class="nav">
            <li><a>推荐</a></li>
            <li><a>热门</a></li>
            <li><a>最新</a></li>
            <li><a>标签云</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><a><span>创建时间线</span></a></li>
            {% if user.is_authenticated %}
              <li><a><span>我的时间线</span></a></li>
              <li>
                <a>
                  <span> {{ user.username }}的帐号 </span>
                </a>
              </li>
              <li><a>

                </a>
              </li>
              <li><a><span>退出</span></a></li>
            {% else %}

            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block container %}
    <div class="container">
      {% if messages %}
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert" href="###">&times;</a>
          <ul>
            {% for message in messages %}
              <li> {{message|safe}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      
      {% block container_top %}
      {% endblock %}

      {% block sidebar %}
        <div class="sidebar">
        </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

    </div>
  {% endblock %}

  {% block footer %}
    <footer>
      <div class="container">
        <p class="adicons"> 
        </p>
        <p class="lks">
          <a>关于</a>
          <span>|</span>
          <a>FAQ</a>
          <span>|</span>
          <a target="_blank">博客</a>
        </p>
        <p>
          &copy; 2012 jstwind.com, all rights reserved 
        </p>
      </div>
    </footer>
  {% endblock %}
{% endblock %}        

{% block footer_ext %}
{% endblock %}        
