<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% endblock %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {% block title %} 似水流年，岁月留痕 - 用时间线来展现历史 {% endblock %} </title>
    <meta name="description" content="{% block page_description %} {% endblock %}"/>
    <meta name="author" content=""/>
	  <link rel="stylesheet" href="/static/css/main.css">
  </head>

  <body>
    <div id="global_waiting" style=" position:fixed; top:0; left:0; background-color: red; width: 200px;display:none "> 
      <span style="padding: 5px;">数据加载中...</span>
    </div> 
    {% block page_body %}
    {% endblock %}
    {% block footer_ext %}
    {% endblock %}
  </body>
</html>
